@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 75rem;
  margin: auto;
}

header {
  background-color: white;
}
header ul {
  display: flex;
  list-style: none;
}
header .top {
  background-color: #0282f9;
  padding: 0.3125rem;
}
header .top ul {
  justify-content: flex-end;
}
header .top ul li {
  margin-left: 4.375rem;
}
header .top ul li a {
  color: #fff;
}
header .bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom .container ul {
  justify-content: space-between;
  align-items: center;
}
header .bottom .container ul li {
  margin: 0 1.25rem;
}
header .bottom .container ul li a {
  display: inline-block;
  padding: 3.4375rem 0;
  color: #303030;
}
header .bottom .container ul li:active {
  color: #0282f9;
  box-shadow: 0px -5px 0px inset #0282f9;
}
header .bottom .container .search label {
  border-bottom: 2px solid #0282f9;
}
header .bottom .container .search input {
  border: none;
  text-align: end;
}
header .bottom .container .search button {
  border: none;
  background: none;
}