footer{
    color:lightgray;

    .top{
        background-image: url("../images/footer-bg.jpg");
        padding: -6.25rem 0;
       
        .container{
            display: flex;
            justify-content: space-between;

            .main_list{
            display: flex;
            justify-content: flex-start;
            padding: 1.875rem 0;

                li{
                    margin-right: 1.875rem;
                    color: $gray;
                }

                h3{
                    font-size: 1.2em;
                    margin-bottom: .625rem ;
                    color: $white;
                }

                .sub_menu{
                    margin-top: 1.25rem;
                    
                }
            }

            

            .logo{
                background-image: url("../images/dc-logo-bg.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                flex-grow: 1;
                margin-left: 12.5rem;
            }
        }

    .bottom{
        background-color: $primaryBlack;
        padding: 1.875rem;

        .container{
            display: flex;
            align-items: center;

            & > a{
                color: $white;
                border: 2px solid $primaryBlue;
                padding: .625rem 1.25rem
            }

            ul{
                display: flex;
                align-items: center;

                & li:first-child{
                    color: $primaryBlue;
                }
                
                li{
                    margin: .625rem;            
                }
            }
        }
    }
       
    


        
    }

    
}