footer{
    color: $gray;

    // BACKGROUND-COMMON-SETTINGS
    .top,
    .logo{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    // ---------

    .top{
        background-image: url("../images/footer-bg.jpg");
        
       
        .container{
            display: flex;
            position: relative;
                    
            .main_list{
                display: flex;
                padding-top:40px;
                padding-bottom: 100px;

                li{
                    margin-right: 1.875rem;
                    // color: $gray;
                }

                h3{
                    font-size: 1.2em;
                    margin-bottom: .625rem ;
                    color: $white;
                }

                .sub_menu{
                    margin-top: 1.25rem;
                }  
            }

            // COPYRIGHT CONTAINER (Samu scusa per il nastro adesivo)
            .container{
                position: absolute;
                bottom: 0;
                margin-bottom: 30px;
                max-width: 580px;

                .copyright{

                    a{
                        color: $primaryBlue;
                    }

                }
            }
            // -----------
            
            .logo{
                background-image: url("../images/dc-logo-bg.png");
                flex-grow: 1;
                margin-left: 12.5rem;
            }  
        }    
          
    }
    .bottom{
        background-color: $primaryBlack;
        padding: 1.875rem;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > a{
                color: $white;
                border: 2px solid $primaryBlue;
                padding: .625rem 1.25rem
            }

            ul{
                display: flex;
                align-items: center;

                & li:first-child{
                    color: $primaryBlue;
                }
                
                li{
                    margin: .625rem;            
                }
            }
        }
    }

    
}